basePath: /api/v1/
definitions:
  http_auth.AuthRequestDTO:
    properties:
      code:
        example: secret123
        type: string
    required:
    - code
    type: object
  http_common.ErrorResponse:
    properties:
      message:
        example: something bad happened...
        type: string
    type: object
  http_movie.MovieResponseDTO:
    properties:
      genres:
        example:
        - фантастика
        - драма
        - приключения
        items:
          type: string
        type: array
      id:
        example: 550e8400-e29b-41d4-a716-446655440000
        type: string
      overview:
        example: Захватывающая история о путешествии через червоточину...
        type: string
      poster_link:
        example: https://example.com/poster.jpg
        type: string
      rating:
        example: 8.6
        type: number
      title:
        example: Интерстеллар
        type: string
      year:
        example: 2014
        type: integer
    type: object
  http_movie.MoviesListResponseDTO:
    properties:
      movies:
        items:
          $ref: '#/definitions/http_movie.MovieResponseDTO'
        type: array
      total:
        type: integer
    type: object
  http_room.ParticipateRequestDTO:
    properties:
      preference:
        $ref: '#/definitions/model.Preference'
    required:
    - preference
    type: object
  http_room.ParticipateResponseDTO:
    properties:
      message:
        type: string
      user_id:
        type: string
    type: object
  http_room.StatusResponseDTO:
    properties:
      status:
        type: string
    type: object
  http_vote.GetMoviesResponseDTO:
    properties:
      movies:
        items:
          $ref: '#/definitions/model.MovieMeta'
        type: array
    type: object
  http_vote.GetResultsResponseDTO:
    properties:
      results:
        items:
          $ref: '#/definitions/model.Result'
        type: array
    type: object
  http_vote.VoteRequestDTO:
    properties:
      reactions:
        additionalProperties:
          type: integer
        type: object
    required:
    - reactions
    type: object
  model.MovieMeta:
    properties:
      genres:
        items:
          type: string
        type: array
      id:
        type: string
      overview:
        type: string
      posterLink:
        type: string
      rating:
        format: float64
        type: number
      title:
        type: string
      year:
        type: integer
    type: object
  model.Preference:
    properties:
      text:
        type: string
    type: object
  model.Result:
    properties:
      likes:
        type: integer
      mm:
        $ref: '#/definitions/model.MovieMeta'
    type: object
host: localhost:80
info:
  contact: {}
  title: Kinoswap API
  version: "1.0"
paths:
  /auth:
    post:
      consumes:
      - application/json
      description: Проверяет код и возвращает токен в заголовке X-admin-token для
        доступа к защищенным endpoint
      parameters:
      - description: Данные для аутентификации
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/http_auth.AuthRequestDTO'
      produces:
      - application/json
      responses:
        "202":
          description: Accepted
          headers:
            X-admin-token:
              description: Токен для доступа к операцями с фильмами
              type: string
        "400":
          description: Неверный формат запроса
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "403":
          description: Неверный код аутентификации
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
      summary: Аутентификация пользователя
      tags:
      - Auth operations
  /movies:
    get:
      description: Возвращает список всех фильмов в системе
      produces:
      - application/json
      responses:
        "200":
          description: Список фильмов успешно получен
          schema:
            $ref: '#/definitions/http_movie.MoviesListResponseDTO'
        "401":
          description: Пользователь не авторизован
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
      security:
      - AdminToken: []
      summary: Получение списка фильмов
      tags:
      - Movies operations
    post:
      consumes:
      - multipart/form-data
      description: Создает новый фильм в системе. Принимает multipart/form-data с
        JSON данными о фильме и опциональным файлом постера
      parameters:
      - description: Данные фильма в JSON формате
        example: '{"title":"Inception","year":2010,"rating":8.8,"genres":["sci-fi","action"],"overview":"A
          thief who steals corporate secrets..."}'
        in: formData
        name: body
        required: true
        type: string
      - description: 'Файл постера '
        in: formData
        name: file
        type: file
      produces:
      - application/json
      responses:
        "201":
          description: Фильм успешно создан
        "400":
          description: 'Некорректные данные запроса: невалидный JSON, отсутствует
            поле body'
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "401":
          description: Пользователь не авторизован
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
      security:
      - AdminToken: []
      summary: Создание фильма
      tags:
      - Movies operations
  /movies/{id}:
    delete:
      description: Удаляет фильм по идентификатору
      parameters:
      - description: UUID фильма
        example: '"550e8400-e29b-41d4-a716-446655440000"'
        in: path
        name: movie_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "204":
          description: Фильм успешно удален
        "400":
          description: Некорректный UUID фильма
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "401":
          description: Пользователь не авторизован
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "404":
          description: Фильм не найден
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
      security:
      - AdminToken: []
      summary: Удаление фильма
      tags:
      - Movies operations
  /rooms:
    post:
      consumes:
      - application/json
      description: Создает новую комнату для выбора фильмов
      produces:
      - application/json
      responses:
        "201":
          description: Комната успешно создана
          headers:
            X-user-token:
              description: Токен владельца комнаты
              type: string
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "503":
          description: Ресур недоступен
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
      summary: Создание комнаты
      tags:
      - Rooms
  /rooms/{code}:
    delete:
      description: Удаляет комнату по коду
      parameters:
      - description: Код комнаты
        in: path
        name: code
        required: true
        type: string
      responses:
        "201":
          description: Комната успешно удалена
        "401":
          description: Не авторизован
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "404":
          description: Комната не найдена
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
      security:
      - UserToken: []
      summary: Удаление комнаты
      tags:
      - Rooms
  /rooms/{code}/status:
    get:
      description: Возвращает текущий статус комнаты
      parameters:
      - description: Код комнаты
        in: path
        name: code
        required: true
        type: string
      responses:
        "200":
          description: Статус комнаты
          schema:
            $ref: '#/definitions/http_room.StatusResponseDTO'
        "404":
          description: Комната не найдена
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
      summary: Получение статуса комнаты
      tags:
      - Rooms
  /rooms/{room_id}/movies:
    get:
      description: Возвращает N фильмов, наиболее подходящих под предпочтения участников
        комнаты
      parameters:
      - description: Код комнаты
        in: path
        name: room_id
        required: true
        type: string
      - description: Количество фильмов
        in: query
        name: count
        required: true
        type: integer
      responses:
        "200":
          description: Батч фильмов успешно получен
          schema:
            $ref: '#/definitions/http_vote.GetMoviesResponseDTO'
        "400":
          description: Неверный формат запроса
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "403":
          description: Пользователь не является участником комнаты
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "404":
          description: Комната не найдена
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
      security:
      - UserToken: []
      summary: Получение батча фильмов для голосования
      tags:
      - Voting
  /rooms/{room_id}/participations:
    post:
      consumes:
      - application/json
      description: Добавляет участника с предпочтениями в комнату
      parameters:
      - description: Код комнаты
        in: path
        name: room_id
        required: true
        type: string
      - description: Данные участника
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/http_room.ParticipateRequestDTO'
      responses:
        "201":
          description: Участник успешно добавлен
          headers:
            X-user-token:
              description: Токен пользователя
              type: string
          schema:
            $ref: '#/definitions/http_room.ParticipateResponseDTO'
        "404":
          description: Комната не найдена
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
      security:
      - UserToken: []
      summary: Участие в комнате
      tags:
      - Rooms
  /rooms/{room_id}/results:
    get:
      description: Возвращает результаты голосования в комнате, отсортированные по
        количеству лайков
      parameters:
      - description: Код комнаты
        in: path
        name: room_id
        required: true
        type: string
      responses:
        "200":
          description: Результаты успешно получены
          schema:
            $ref: '#/definitions/http_vote.GetResultsResponseDTO'
        "403":
          description: Пользователь не является участником комнаты
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "404":
          description: Комната не найдена
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
      security:
      - UserToken: []
      summary: Получение результатов голосования
      tags:
      - Voting
    patch:
      consumes:
      - application/json
      - application/json
      description: |-
        Добавляет реакции пользователя (лайки) к фильмам в рамках комнаты
        Добавляет реакции пользователя (лайки) к фильмам в рамках комнаты
      parameters:
      - description: Код комнаты
        in: path
        name: room_id
        required: true
        type: string
      - description: Реакции пользователя
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/http_vote.VoteRequestDTO'
      - description: Код комнаты
        in: path
        name: room_id
        required: true
        type: string
      - description: Реакции пользователя
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/http_vote.VoteRequestDTO'
      responses:
        "302":
          description: Редирект на страницу резульататов
        "400":
          description: Неверный формат запроса
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "403":
          description: Пользователь не является участником комнаты
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "404":
          description: Комната не найдена
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
        "500":
          description: Внутренняя ошибка сервера
          schema:
            $ref: '#/definitions/http_common.ErrorResponse'
      security:
      - UserToken: []
      - UserToken: []
      summary: Добавление реакций к фильмам
      tags:
      - Voting
      - Voting
securityDefinitions:
  AdminToken:
    in: header
    name: X-admin-token
    type: apiKey
  UserToken:
    in: header
    name: X-user-token
    type: apiKey
swagger: "2.0"
